<% include partials/header %>
<!--include header template-->
<% include partials/header %>
<h1>This is the home page</h1>

<img src="https://source.unsplash.com/random/300x300"/>

<!--include footer template-->
<% include partials/footer %>